body {
  background-color: #192732;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.main {
  color: white;
  width: 34%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-sizing: border-box;
  border: 3px solid white;
  padding: 33px;
  flex-direction: column;
}

h1 {
  margin-top: 5px;
  font-size: 24px;
  font-weight: bolder;
}

h2 {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 17px;
  font-weight: lighter;
  color: #c9c9c9;
}

.in {
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  margin: 7px 0px 5px 0px;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.in::placeholder {
  font-size: 14px;
  padding-left: 8px;
}

.in:hover {
  background-color: rgb(218, 218, 218);
  transition: ease-in-out 0.05s;
}

div select {
  font-size: 14px;
  color: grey;
  padding: 15px;
}

div select option {
  font-size: 15px;
}

.register {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  padding: 8px 12px;
  display: block;
  color: white;
  background-color: #6e757c;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  border: transparent;
}

.register:hover {
  background-color: white;
  color: #192732;
}
.confirm {
  margin: 13px 0px 13px 0px;
}

.form-check {
  margin: 15px 0px 5px 0px;
  display: flex;
}

.form-check input[type="radio"]:checked + label,
.Checked + label {
  background: white;
}

.form-check label {
  padding: 5px;
  font-size: 12px;
  border: 1px solid #6e757c;
  cursor: pointer;
  margin-left: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-check label:hover {
  background: #ddd;
  color: black;
}

.form-check input[type="radio"] {
  display: none;
}

.form-check input[type="radio"]:checked {
  background-color: white;
}

p {
  margin-top: 5px;
  font-size: 13px;
}

.confirm {
  font-size: 13px;
}
