body {
  background-color: #0066da;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

.container {
  width: 40%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  min-width: 350px;
}

.container1 {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 30px;
  margin: 10px 0px 0px 0px;
  border-radius: 10px;
  box-sizing: border-box;
}

.finput,
.form-control {
  padding: 13px;
  width: 100%;
  margin: 10px 0px 20px 0px;
  border: 2px solid rgb(214, 214, 214);
  box-sizing: border-box;
  border-radius: 5px;
}

.finput:hover,
.form-control:hover {
  border: 2px solid #60a9ff;
}

h1 {
  margin: 20px 0px 0px 0px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  color: white;
}

h4 {
  margin: 18px 0px 30px 0px;
  font-weight: 200;
  color: rgb(238, 238, 238);
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

.submit {
  padding: 15px 30px;
  margin: 0.8rem 0 0.1rem 0;
  line-height: 1;
  font-size: 1em;
  background-color: #0066da;
  color: white;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset {
  padding: 10px 20px;
  margin: 0.8rem 0 0.1rem 0;
  line-height: 1;
  font-size: 1em;
  color: grey;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset:hover {
  color: rgb(168, 1, 1);
}
.buttons {
  align-items: center;
  justify-content: center;
}

.submit:hover span {
  display: none;
}

.submit:hover:before {
  content: "Great!";
  transition: all 0.2s ease-in-out;
}

.submit:hover {
  background-color: #51cb20;
}

.exp {
  margin: 0px;
  padding: 0px;
}

.rate {
  padding: 10px 0px 8px 0px;
}

.suggestion {
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

label,
.label {
  font-weight: 600;
  color: rgb(61, 61, 61);
}

.exp label {
  font-weight: 400;
}
textarea {
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
}
textarea:hover {
  border: 1px solid #60a9ff;
}
