body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #ffe999;
  background-image: radial-gradient(
      at 53% 29%,
      hsla(198, 93%, 65%, 1) 0,
      transparent 46%
    ),
    radial-gradient(at 89% 46%, hsla(68, 69%, 66%, 1) 0, transparent 53%),
    radial-gradient(at 34% 3%, hsla(72, 77%, 76%, 1) 0, transparent 44%),
    radial-gradient(at 29% 34%, hsla(141, 84%, 73%, 1) 0, transparent 51%),
    radial-gradient(at 23% 84%, hsla(191, 71%, 72%, 1) 0, transparent 52%),
    radial-gradient(at 49% 24%, hsla(64, 99%, 62%, 1) 0, transparent 46%),
    radial-gradient(at 35% 70%, hsla(93, 98%, 60%, 1) 0, transparent 42%);
  display: flex;
}

.formatting {
  box-sizing: border-box;
  padding: 15px;
  margin: 30px;
  border: 2px solid white;
  width: fit-content;
  height: fit-content;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgb(157, 253, 255) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border-radius: 10px;
}

h1 {
  margin: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.image-header {
  margin-top: 30px;
  margin-left: 25px;
}

.putin {
  margin: 30px;
}

.square-image {
  border-radius: 0px;
}

.round-image {
  border-radius: 100%;
}

.roundrect-image {
  border-radius: 10%;
}

.quote {
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 5px;
  padding: 15px 15px 5px 15px;
  margin-left: 25px;
  background: linear-gradient(
    0deg,
    rgb(203, 254, 255) 0%,
    rgb(241, 172, 22) 100%
  );
  height: fit-content;
  width: fit-content;
}

.socials {
  display: flex;
  padding: 15px;
  margin-left: 15px;
}

.socials a {
  margin-right: 10px;
}
.awards {
  border: 1px solid black;
}
.table {
  width: 70%;
  margin-left: 20px;
}

table,
th,
td {
  border: 1px solid black;
}
