body {
  background: #88cafc;
  background: -moz-linear-gradient(to right, #88cafc 0%, #ffe3be 100%);
  background: -webkit-linear-gradient(to right, #88cafc 0%, #ffe3be 100%);
  background: linear-gradient(to right, #88cafc 0%, #ffe3be 100%);
  font-family: "Montserrat", sans-serif;
}

.just-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.div-100 {
  width: 100%;
}

.div-20 {
  width: 20%;
}

caption {
  padding: 25px;
  font-size: x-large;
  font-weight: bolder;
}
thead {
  background-color: rgba(255, 255, 255, 0.5);
}
td {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
th {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  color: rgb(37, 37, 37);
}

th,
td {
  padding: 10px;
}

tfoot {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 900;
}

#list {
  margin: 10px 0px 0px 0px;
  border-bottom: 2px solid white;
}

#table {
  padding: 0px 0px 50px 0px;
  border-bottom: 2px solid white;
}

#table span {
  padding: 30px 0px 0px 40px;
}
p {
  font-size: 25px;
  padding: 15px;
  margin: 10px 0px 0px 200px;
}

#unordered {
  padding-left: 220px;
}

span {
  font-weight: bold;
}
