.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.just-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
.between {
  justify-content: space-between;
}

.logo {
  fill: rgb(229, 9, 20);
}

body {
  background-color: #222222;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.vh-100 {
  height: 100vh;
}

#landing {
  background-color: rgb(255, 191, 194);
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(255, 255, 255, 0) 80%
    ),
    linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 70%),
    url("../jpg/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#header {
  width: 100vw;
  padding-top: 0.5rem;
  margin: 0 3.5rem;
}

#header-wrap {
  padding-top: 20px;
}
.white {
  color: white;
}

.height-auto {
  height: auto;
}

#center {
  height: 100%;
}

#unlimited {
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
  font-style: normal;
  max-width: 640px;
  text-align: center;
  padding: 0 200px;
}

#watch {
  margin-top: 16px;
  font-size: 26px;
  font-weight: 400;
}
#ready {
  font-size: 19px;
  font-weight: 400;
}

#get-started-card-wrap {
  flex: 1 1 auto;
}
#get-started-card {
  flex: 1 1 auto;
  padding: 75px 0;
  max-width: 950px;
  margin: 0 auto;
}
