#header {
  background-color: rgb(255, 41, 41) !important;
}

#hover:hover {
  background-color: cornflowerblue;
  transition: ease-in-out 0.1s;
}

p:first-of-type {
  margin: 20px;
}

.body:nth-last-child(3) {
  color: red;
}

a:link {
  color: #ff0000;
}

a:hover {
  color: #1900ff;
}

p:last-child {
  color: red;
  font-weight: bold;
}

div:first-of-type {
  background-color: rgb(255, 55, 138);
}
div:last-of-type {
  background-color: white;
}

p:nth-of-type(1) {
  color: red;
}
